-- USE [$DatabaseName$]
-- GO
-- /****** Object:  StoredProcedure [Rolls].[Sto_GetRollDetails]    Script Date: 1/23/2021 9:26:53 AM ******/
-- SET ANSI_NULLS ON
-- GO
-- SET QUOTED_IDENTIFIER ON
-- GO
-- IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Rolls].[Sto_GetRollDetails]') AND type in (N'P', N'PC'))
-- BEGIN
-- EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [Rolls].[Sto_GetRollDetails] AS'
-- END
-- GO
-- ALTER PROCEDURE [Rolls].[Sto_GetRollDetails]
-- 	@PublicId UNIQUEIDENTIFIER
-- AS
-- BEGIN
-- 	SELECT *
-- 	FROM [Rolls].[Vw_RollDetails]
-- 	WHERE [PublicId] = @PublicId
-- ;
-- END
-- GO
